In [1]:
import tensorflow as tf
import pandas as pd
from math import sqrt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn import preprocessing

In [2]:
x = pd.read_csv('data_test_daily.csv')
x.head()

,SO2,NO2,O3,CO,PM10,PM2.5,Date,"Address_10, Poeun-ro 6-gil, Mapo-gu, Seoul, Republic of Korea","Address_11, Yangsan-ro 23-gil, Yeongdeungpo-gu, Seoul, Republic of Korea","Address_136, Hannam-daero, Yongsan-gu, Seoul, Republic of Korea",...,"Address_426, Hakdong-ro, Gangnam-gu, Seoul, Republic of Korea","Address_43, Cheonho-daero 13-gil, Dongdaemun-gu, Seoul, Republic of Korea","Address_45, Gamasan-ro 27-gil, Guro-gu, Seoul, Republic of Korea","Address_49, Samyang-ro 139-gil, Gangbuk-gu, Seoul, Republic of Korea","Address_56, Jungang-ro 52-gil, Yangcheon-gu, Seoul, Republic of Korea","Address_571, Gwangnaru-ro, Gwangjin-gu, Seoul, Republic of Korea","Address_59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul, Republic of Korea","Address_6, Sadang-ro 16a-gil, Dongjak-gu, Seoul, Republic of Korea","Address_70, Samyang-ro 2-gil, Seongbuk-gu, Seoul, Republic of Korea","Address_71, Gangseo-ro 45da-gil, Gangseo-gu, Seoul, Republic of Korea"
0,0.004100,0.019000,0.029100,0.325000,30.950000,19.650000,736786,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.003875,0.009250,0.016875,0.300000,21.250000,13.500000,737144,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0.003773,0.034455,0.043409,0.477273,42.863636,20.863636,736718,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.005727,0.037409,0.008318,0.613636,64.863636,38.136364,736885,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0.004000,0.016471,0.020706,0.723529,21.882353,3.529412,737253,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
y = x.pop('O3')
y.head()

0    0.029100
1    0.016875
2    0.043409
3    0.008318
4    0.020706
Name: O3, dtype: float64

In [4]:
x = preprocessing.scale(x)

C:\Users\Asus\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by the scale function.
  """Entry point for launching an IPython kernel.

In [5]:
model = tf.keras.models.load_model('ozone-final.model')
pred = model.predict(x)

In [6]:
mse_train = mean_squared_error(y, pred)
rmse_train = sqrt(mean_squared_error(y, pred))
mae_train = mean_absolute_error(y, pred)
print("The R2 score on the Train set is:\t{:0.3f}".format(r2_score(y, pred)))
print("MSE: ",mse_train)
print("RMSE: ",rmse_train)
print("MAE: ",mae_train)

The R2 score on the Train set is:	0.632
MSE:  5.363794120825702e-05
RMSE:  0.007323792815765409
MAE:  0.005460750849034602